<div class="center jumbotron">
  <h1>Welcome to the Clients To Horse App</h1>
  <!--<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>-->
</div>

<div align="center">
  <%= image_tag("homepage1.png")%>
</div>