<h1>Customer total bill</h1>
<table id="owners">
  <thead>
  <tr>
    <th>Bill generation Date</th>
    <th>Bill amount</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  <% @balance_due.each do |due| %>
      <tr>
        <td>
          <%= due.created_at.to_date %>
        </td>
        <td>
          <%= due.amount %>
        </td>
        <td>
          <%= due.comment %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div align="center"><%= paginate @balance_due %></div>