<footer class="footer">
  <small>
    The <a href="http://www.ClientsToHorse.org/">ClientsToHorse</a>
    by <a href="http://www.spurs.com/">Spurs</a>
  </small>
  <nav>
    <ul>
      <li><%=link_to"About", about_path%></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.ClientsToHorse.org/">News</a></li>
    </ul>
  </nav>
</footer>