<h1>Select Procedure</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td>
          <%= link_to "#{procedure.name}", edit_chain_path(procedure), :method => :get  %>
        </td>        
        <td>
          <%= link_to "Add", activity_menu_path(:procedure_id => procedure.id, :horse_id => @horse.id), class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Back to horse information", horse_path(:id => @horse.id) %>
</div>
<%= button_to 'New procedures', new_procedure_path, :method => :get , class: "btn btn-default"%>