<html>
<h1>Add Procedure</h1>
<body>

<%= form_tag procedures_path do %>


    <%= label :procedure, :name, 'Name' %>
    <%= text_field :procedure, 'name' %>


    <%= submit_tag 'Add' %>

<% end %>


</body>
</html>