<h2>Details about Chain</h2>
<tbody>
<tl>
  Chain's order
    <li>
    <%= @chain.activity_order %>
  </li>
  Chain's procedure_id
  <li>
    <%= @procedure.id %>
  </li>
  Chain's procedure's name
  <li>
    <%= @procedure.name %>
  </li>
  Chain's activity_id
  <li>
    <%= @chain.activity_id %>
  </li>

</tl>
</tbody>