<html>
<h2>Details about <%= "#{ @procedure.name}"%></h2>
<tl>

  <table id="procedures">
    <thead>
    <tr>
      <th>Activity name</th>
      <th>Activity order</th>
      <th>comment</th>

    </tr>
    </thead>
    <tbody>
    <% @activities.each do |activity| %>
        <tr>
          <td>
            <%= activity.activity.name%>
          </td>
          <td>
            <%= activity.activity_order %>
          </td>
          <td>
            <%= activity.comment %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</tl>
</html>