// Place all the styles related to the horse_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#horse_activities {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#horse_activities th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#horse_activities th, table#horse_activities td {
  padding: 4px;
  text-align: left;
}
table#horse_activities th.hilite{
  background-color: yellow;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: black;

}