// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#owners {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#owners th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#owners th, table#owners td {
  padding: 4px;
  text-align: left;
}
table#owners th.hilite{
  background-color: yellow;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: black;

}


#firstColumn{
  width: 150px;
  vertical-align: top;
}

#secondColumn{
  width: 250px;
  vertical-align: top;
}

#thirdColumn{
  width: 120px;
  vertical-align: top;
}

#upload_file_field_Width{
   width: 350px;
}
#upload_submit_btn_Width{
     margin-top: 15px;
   width: 90px;
}
