<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "Clients To Horse app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to"Home", root_path%></li>
        <li><%=link_to"Help", help_path%></li>
        <li><a href="http://aqueous-cliffs-65937.herokuapp.com/">Horse information</a></li>
        <li><a href="https://mighty-chamber-18398.herokuapp.com/owners/">Owner information</a></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>