<!DOCTYPE html>
<html>
<head>
  <title>Envato Invoices</title>
  <style>
    <%= (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset('downloads.scss').to_s%>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>