<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.ClientstoHorse.org/"><em>Clients to Horse</em></a> is a
  <a href="http://www.ClientstoHorse.org/book">book</a> and
  <a href="http://screencasts.ClientstoHorse.org/">screencast series</a> to teach how to take care of horses
  <a href="http://ClientstoHorse.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>