<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Clients To Horse at the
  <a href="http://www.ClientsToHorse.org/help">Clients To Horse help section</a>.
  To get help on this Clients To Horse app, see the
  <a href="http://www.ClientsToHorse.org/book"><em>Clients To Horse</em> book</a>.
</p>